{% extends "base.html" %}

{% block content %}

<h1>Bienvenido al Taller Mecánico</h1>

<div class="container" style="max-width: 800px; margin-top: 80px;">
    <div class="text-center mb-5">
        <h1 class="fw-bold">Taller Mecánico</h1>
        <p class="text-secondary">Sistema de Cotizaciones</p>
    </div>

    <div class="d-grid gap-3">
        <a href="{% url 'cotizaciones:registrar_cotizacion' %}" class="btn btn-primary btn-lg py-3">
            NUEVA COTIZACION <br> (utilizar EXCLUSIVAMENTE con fines de testeo, debido a que cotizacion va vinculada a servicio y se crea desde allí.)
        </a>
        <a href="{% url 'cotizaciones:listar_cotizaciones' %}" class="btn btn-outline-primary btn-lg py-3">
            Historial de Cotizaciones
        </a>
    </div>
</div>

{% endblock %}